<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/techda-basis.js" type="module" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>テク打</title>
  </head>
  <body>
    <main id="main">
      <%= yield %>
    </main>
  </body>
</html>
